<html>
   <body>
      <form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <label for="recepientName">Recepient:</label>
            <input type="text" id="recepientName" name="recepientName" placeholder="Enter recepient's username" />
            <br />

            <label for="messageBody">Description:</label>
            <textarea id="messageBody" name="messageBody" placeholder="Enter your Message"></textarea>
            <br />
            <input type="submit" value="Send Message" />
         </fieldset>
      </form>
   </body>
</html>