html
  head
    title SuperSecret
  body
    br
    form(action="/messages/create" method="post")
      label Recipient
      input(name="recipient")
      br
      br
      label Message
      textarea(name="message" style='min-width: 250px; min-height: 300px;')
      button(type="submit") Submit
